{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <div class="col-lg-5 center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1><i class="icon-signin"></i> Change password</h1>
            </div>
            <div class="panel-body">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-actions">
                        <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-primary" id="submit-id-submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
