{% extends "base.html" %}

{% block content %}
<div id="update-password-container">
    <h1>Change password</h1>
    <form @submit.prevent="updatePassword">
        <li>
            <label for="id_password">Password:</label> <input type="password" name="password" placeholder="Password" required="" id="id_password" v-model="password">
        </li>
        <li>
            <label for="id_new_password">New password:</label> <input type="password" name="new_password" placeholder="New password" required="" id="id_new_password" v-model="newPassword">
        </li>
        <li>
            <label for="id_new_password2">Confirm password:</label> <input type="password" name="new_password2" placeholder="Type password again" required="" id="id_new_password2" v-model="newPassword2">
        </li>
        <div>
            <input type="submit" name="submit" value="Submit" id="submit-id-submit">
        </div>
    </form>
</div>
{% endblock %}
