{% extends "base.html" %}

{% block content %}
<div id="user-profile-container">
  <h1>User Profile</h1>
  <div>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Update</button>
    </form>
    <a id="change-password" href="{% url 'password_change' user %}">Change Password</a>
    {% if urls.user.api_generate_keys %}
    <button id="generate-key-open" @click="generateKey">Reset API Key</button>
    {% endif %}
    <a href="{% url 'users_activate' user %}">Activate</a>
    <a href="{% url 'users_notifications' user %}">Notifications</a>
    <div id="generate-key">
      <input v-model="apiKey" name="key" maxlength="128"
             type="text" disabled value="Generating..." />
      <button id="regenerate-key"
              type="button" @click="generateKey">Generate</button>
    </div>
  </div><!-- userProfileCtrl -->
</div><!-- signupApp -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var djaodjinSettings = {
    urls: {
        api_generate_keys: "{{urls.user.api_generate_keys}}",
        api_user_profile: "{{urls.user.api_profile}}",
        user_profile_redirect: "{{urls.user.profile_redirect}}",
    },
    itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
    csrf: '{{csrf_token}}',
};
</script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/vue.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/uiv.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-signup-vue.js"></script>
{% endblock %}
