{% extends "base.html" %}

{% block localheader_title %}Get started!{% endblock %}

{% block content %}
<div>
  {% if sso_required %}
  <p>
  You are required to login through the following Single Sign On (SSO) provider:
  </p>
  <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
  {% else %}
  <form method="post" action="./{% if next %}?next={{next}}{% endif %}">
        {% csrf_token %}

        {{form.as_p}}

        {% if email_verification_link %}
        <button id="email-verification-link" type="submit" name="submit">E-mail me a code</button>
        {% elif phone_verification_link %}
        <button id="phone-verification-link" type="submit" name="submit">Text me a code</button>
        {% else %}
        <button type="submit" name="submit">Submit</button>
        {% endif %}
  </form>
  {% endif %}
</div>
{% endblock %}
