{% extends "base.html" %}

{% block localheader_title %}Activate{% endblock %}

{% block content %}
<div>
  <h1>Activate</div>
  <div>
    {% if sso_required %}
    <p>
You are required to login through the following Single Sign On (SSO) provider:
    </p>
    <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
    {% elif reason %}
    <p>
      {{reason}}
    </p>
    {% else %}
    <p>
You are about to activate your account. Please set a password to secure it.
    </p>
    <form method="post" action=".{% if next %}/?next={{next}}{% endif %}">
      {% csrf_token %}
      {{ form }}
      <button type="submit" name="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
