{% extends "base.html" %}

{% block localheader_title %}Sign In{% endblock %}

{% block content %}
<div>
  {% if sso_required %}
  <p>
You are required to login through the following Single Sign On (SSO) provider:
  </p>
  <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
  {% else %}
  <form method="post" action=".{% if next %}/?next={{next}}{% endif %}">
      {% csrf_token %}
      {{form}}
      <button type="submit" name="submit">Submit</button>
  </form>
  <p>
    <a href="{{urls.user.password_reset}}{% if next %}?next={{next}}{% endif %}">Forgot password?</a>
    {% if urls.user.register %}
    or
    <a href="{{urls.user.register}}{% if next %}?next={{next}}{% endif %}">Sign Up</a>
    {% endif %}
  </p>
  {% endif %}
</div>
{% endblock %}
