{% extends "base.html" %}

{% block localheader_title %}Sign In{% endblock %}

{% block content %}
<div>
  {% if sso_required %}
  <p>
You are required to login through the following Single Sign On (SSO) provider:
  </p>
  <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
  {% else %}
  <form method="post" action=".{% if next %}/?next={{next}}{% endif %}">
      {% csrf_token %}
      {{form}}
      <button type="submit" name="submit">Submit</button>
  </form>
  <p>
      <a href="{% url 'password_reset' %}">Forgot password?</a>
  </p>
  <p>
      Don't have an account? -- <a href="{% url 'registration_register' %}">Sign up</a>
  </p>
  {% endif %}
</div>
{% endblock %}
