{% extends "base.html" %}

{% block localheader_title %}Forgot Password{% endblock %}

{% block content %}
<div>
  <h1>Forgot Password</h1>
<p>
Please enter your e-mail or phone.
Your password will be reset and you will get a chance to choose a new password.
</p>
<form method="post" action=".">
    {% csrf_token %}
    {{ form }}
    <button type="submit" name="submit">Submit</button>
</form>
<p>
    Don't have an account? -- <a href="{% url 'registration_register' %}">Sign up</a>
</p>
</div>
{% endblock %}
