{% extends "base.html" %}

{% block localheader_title %}Sign Up{% endblock %}

{% block content %}
<div>
  <h1>Sign Up</div>
  <div>
    {% if sso_required %}
    <p>
You are required to login through the following Single Sign On (SSO) provider:
    </p>
    <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
    {% else %}
    <form action=".{% if next %}/?next={{ next }}{% endif %}"
        method="post">
      {% csrf_token %}
      {{ form }}
      <input type="hidden" name="terms-of-use" value="False">
      <button type="submit" name="submit">Sign Up</button>
    </form>
    <div>
      <p>You already have an account? <a id="login" href="{% url 'login' %}">Sign in</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
