{% extends "base.html" %}

{% block content %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
var djaodjinSettings = {
    urls: {
        api_activities: "{{urls.api_activities}}",
        api_contact: "{{urls.api_contact}}",
        api_contacts: "{{urls.api_contacts}}",
        contacts: "{{urls.contacts}}",
    },
    itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
    csrf: '{{csrf_token}}',
};
</script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/vue.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/uiv.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-signup-vue.js"></script>
{% block contacts_scripts %}{% endblock %}
{% endblock %}
