{% extends "contacts/base.html" %}

{% block content %}
<contact-update id="contact-edit-container" inline-template>
  <div>
    <h1>Contact Profile</h1>
    <dl>
      <dt>Nick name</dt>
      <dd>{{contact.nick_name}}</dd>
    </dl>
    <dl>
      <dt>Full name</dt>
      <dd>{{contact.full_name}}</dd>
    </dl>
    <dl>
      <dt>Email</dt>
      <dd>{{contact.email}}</dd>
    </dl>
    <h2>Activities</h2>
    <form @submit.prevent="createActivity">
        <input
         id="typeahead"
         type="text"
         placeholder="Username or Email"
         name="subscription"
         v-model="itemSelected.slug"
         autocomplete="off"/>
      <textarea name="text" v-model="activityText"></textarea>
      <button type="submit" value="submit">Create</button>
    </form>
    <div v-show="!itemsLoaded">
      <h3>Loading ...</h3>
    </div>
    <div id="has-no-activity"
         v-show="itemsLoaded && items.results.length === 0">
      <h4><em>No activity</em></h4>
    </div>
    <div id="has-activities"
         v-show="itemsLoaded && items.results.length > 0" v-cloak>
      <div v-for="entry in items.results">
        <p>[[entry.created_at]] by [[entry.created_by]]:</p>
        <div>[[entry.text]]</div>
      </div>
    </div>
  </div>
</contact-update>
{% endblock %}
