{% extends "contacts/base.html" %}

{% block content %}
<contact-update id="contact-edit-container" inline-template
  ng-app="signupApp">
  <div ng-controller="contactCtrl">
    <h1>Contact Profile</h1>
    <dl>
      <dt>Nick name</dt>
      <dd>{{contact.nick_name}}</dd>
    </dl>
    <dl>
      <dt>Full name</dt>
      <dd>{{contact.full_name}}</dd>
    </dl>
    <dl>
      <dt>Email</dt>
      <dd>{{contact.email}}</dd>
    </dl>
    <h2>Activities</h2>
    <form ng-submit="createActivity()" @submit.prevent="createActivity">
        <input
         id="typeahead"
         type="text"
         placeholder="Username or Email"
         name="subscription"
         v-model="itemSelected.slug"
         autocomplete="off"/>
      <textarea name="text" ng-model="activity.text" v-model="activityText"></textarea>
      <button type="submit" value="submit">Create</button>
    </form>
    <div ng-show="!items.$resolved"
         v-show="!itemsLoaded">
      <h3>Loading ...</h3>
    </div>
    <div id="has-no-activity"
         ng-show="items.$resolved && items.results.length == 0"
         v-show="itemsLoaded && items.results.length === 0">
      <h4><em>No activity</em></h4>
    </div>
    <div id="has-activities"
         ng-cloak ng-show="items.$resolved && items.results.length > 0"
         v-cloak v-show="itemsLoaded && items.results.length > 0">
      <div
         ng-repeat="entry in items.results"
         v-for="entry in items.results">
        <p>[[entry.created_at]] by [[entry.created_by]]:</p>
        <div>[[entry.text]]</div>
      </div>
    </div>
  </div>
</contact-update>
{% endblock %}
