boto3==1.33.13                       # last version compatible with Py3.7
Django==3.2.25 ; python_version < "3.9"
Django==4.2.23 ; python_version >= "3.9" and python_version < "3.12"
Django==5.2.7  ; python_version >= "3.12"
django-fernet-fields @ git+https://github.com/djaodjin/django-fernet-fields.git@6f261ed465a7fbafa1c41b635f7acd9fd6f3ccca
django-phonenumber-field==5.2.0      # Latest 8.0.0. Some breaking
                                     # changes. See release notes
                                     # (https://github.com/stefanfoulis/django-phonenumber-field/releases/)
                                     # and changelog
                                     # (https://github.com/stefanfoulis/django-phonenumber-field/raw/refs/heads/main/CHANGELOG.rst)
                                     # for details.

django-recaptcha==3.0.0 ; python_version < "3.9" # 2.0.6 requires Django<4.0
django-recaptcha==4.0.0 ; python_version >= "3.9" # 4.0.0 Renames
                                                  # package namespace
                                                  # from `captcha' to
                                                  # `django_recaptcha'.

django-storages==1.13.2              # Latest is 1.14.4. Breaking
                                     # changes on some cloud backends.
                                     # Read the change log:
                                     # https://github.com/jschneier/django-storages/blob/master/CHANGELOG.rst

djangorestframework==3.14.0 ; python_version < "3.9"
djangorestframework==3.15.2 ; python_version >= "3.9" # Breaking
                                     # changes in 3.15.0 and 3.15.1
                                     # were reverted in 3.15.2.
                                     # Requires Django >=4.2 and
                                     # Python >=3.8. See release notes
                                     # for details:
                                     # https://github.com/encode/django-rest-framework/releases

docutils==0.16
phonenumbers==8.13.7
PyJWT==2.6.0                         # 2.10.0 requires Python>=3.9
                                     # 2.6.0 requires Python>=3.7
pyotp==2.8.0
python-ldap==3.4.3
pytz==2025.1
six==1.16.0
python3-saml==1.16.0                 # latest 1.16.0
social-auth-app-django==5.2.0 ; python_version < "3.9" # 5.2.0 drops
                                     # support for Django<3.2. See:
                                     # https://github.com/python-social-auth/social-app-django/blob/master/CHANGELOG.md
social-auth-app-django==5.4.2 ; python_version >= "3.9"

# testsite-only
coverage==7.2.1
django-extensions==3.2.3
gunicorn==23.0.0                  # requires Py3.7
whitenoise==6.4.0

# development
Sphinx==5.1.1
sphinxcontrib-httpdomain==1.8.1
