# Many prerequisite projects have dropped support for Python2.
# This legacy requirements file is used for Python2 environments.
boto3==1.4.4
botocore==1.5.95
Django==1.11.29
django-fernet-fields==0.6
django-phonenumber-field==2.4.0
django-recaptcha==2.0.6
django-storages==1.7.1
djangorestframework==3.9.4
docutils==0.15.2
phonenumbers==8.12.6
PyJWT==1.7.1
pyotp==2.3.0
python-dateutil==2.8.1
python-ldap==3.2.0
# SAML is not supported when running on python2.7 because we end up
# with a "Segmentation fault".
# python-saml==2.2.0
pytz==2020.1
six==1.12.0
social-auth-app-django==3.1.0 # v1.2.0 does not support Django>=2.1
social-auth-core==3.2.0

# testsite-only
coverage==4.0.3
django-extensions==2.1.4
djaodjin-rules==0.4.1
gunicorn==19.7.1
whitenoise==4.1.2
