{% extends "base.html" %}

{% block localheader_title %}{% if object %}Activate{% else %}Page not found{% endif %}{% endblock %}

{% block content %}
<div>
  <h1>Activate</div>
  <div>
    {% if sso_required %}
    <p>
You are required to login through the following Single Sign On (SSO) provider:
    </p>
    <a href="{{sso_required.url}}">{{sso_required.printable_name}}</a>
    {% elif reason %}
    <p>
      {{reason}}
    </p>
    {% else %}
    <form method="post" action="./{% if query %}?{{query}}{% endif %}">
      {% csrf_token %}
      {{ form }}

      {% if form.new_password %}
        {% if form.email or form.phone %}
          <button type="submit">
            Sign Up
          </button>
        {% else %}
          <button type="submit">
            Set New Password
          </button>
        {% endif %}
      {% else %}
        <button type="submit">
          Yep, it is me.
        </button>
        <a href="{{urls.user.login}}{% if query %}?{{query}}{% endif %}">
              Huh, someone else?
        </a>
        <button type="submit" name="reset" value="1">
          Please reset my password
        </button>
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
